* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightblue;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
}

#birthday-image {
    width: 200px;
    height: 300px;
    border-radius: 50px;
    border: solid 5px pink;
    
}

