* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
}

#birthday-image {
    width: 200px;
    height: 300px;
    border-radius: 50px;
    margin: 20;
}

