* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
}

#birthday-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 20px 0;
}

