* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightblue;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Birthstone", cursive;
    font-weight: 400;
    font-style: normal;
}

#birthday-image {
    width: 200px;
    height: 300px;
    border-radius: 50px;
    border: solid 10px pink;
}

h1 {
    color: red;
    font-size: 80px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 3px pink;  
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 5px 5px 3px pink;
}

p {
    font-size: 20px;
    text-shadow: 5px 5px 3px pink;
}