* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#hero {
    height: 80vh;
    background-image: url("./universe.jpg");
    background-size: cover;
}

#logo {
    width: 75px;
    border-radius: 50%;
    margin-top: 30px;
}

h1 {
    font-size: 60px;
    margin-top: 30px;
}

.btn {
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.underline {
    text-decoration: underline;
    color: red;
}

