* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: whitesmoke;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./universe.jpg");
    background-size: cover;
}

#logo {
    margin-top: 25vh;
    width: 75px;
    border-radius: 50%;
}

h1 {
    margin-top: 5vh;
    font-size: 60px;
}

.btn {
    margin-top: 5vh;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.underline {
    text-decoration: underline;
    color: red;
}

h3 {
    margin-top: 2vh;
    font-size: 35px;
    color: black;
}

