body {
    margin: 20px;
}

.card {
    width: 600px;
    height: 400px;
    border: 3px solid pink;
    border-radius: 12px;
    display: flex;
    flex-direction: row
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}