body {
    margin: 20px;
}

.card {
    width: 600px;
    height: 400px;
    border: 3px solid pink;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}