body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    width: 500px;
    height: 250px;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.pink-border {
    border: 10px solid pink;
}

.profile-pic {
    width: 150px;
    height: 175px;
    border-radius: 30px;
}

.personal-details {
    text-align: center;
}