body {
    margin: 20px;
}

.card {
    width: 600px;
    height: 400px;
    border: 10px solid pink;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 30px;
    display: flex;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}