.main {
    margin-top: 250px;
}

.google-logo {
    display: block;
    width: 272px;
    height: 92px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    display: block;
    width: 482px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    
}