.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.google-logo {
    width: 272px;
    height: 92px;
}

.search-bar {
    width: 482px;
    height: 44px;
}